[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
mkdocs = "*"
requests = "*"
mkdocs-material = "*"
pyside2 = "*"
mkdocstrings = "*"
mkdocs-awesome-pages-plugin = "*"

[requires]
python_version = "3.8"
