div.md-grid{
    max-width: 75rem;
}

  /* 見出し1 */
.md-container h1 {
    display: inline-flex;
}

.md-container h1::before {
    margin-right : 8px;
    font-family: "FontAwesome" !important;
    content: "\f044" !important;
}

/* 見出し2 */
.md-container h2 {
    display: flex;
    border-bottom: double 4px;
}

/* 見出し2のカウンター */
.md-container h2::before {
    counter-reset: h3;
    margin-right : 8px;
    font-family: "FontAwesome" !important;
    content: "\f0a9" !important;
}

/* 見出し3 */
.md-container h3 {
    display: flex;
    counter-reset: h4;
    counter-increment: h3;
    border-bottom: inset 2px;
}

/* 見出し3のカウンター */
.md-container h3::before {
    margin-right : 8px;
    content: counter(h3) ". " !important;
}

/* 見出し4 */ 
.md-container h4 {
    display: flex;
    counter-increment: h4;
    border-bottom: dotted 1px;
}

/* 見出し4のカウンター */
.md-container h4::before {
    margin-right : 8px;
    content: counter(h3) "-" counter(h4) ". " !important;
}